{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>ToDo</h1>
        
        <table class="table table-hover table-responsive">
            <tr><th>Last Update</th><th>Title</th></tr>
            {% for post in posts %}    
            <div class="row">
                <tr>
                    <td>{{ post.date }}</td>
                    <td>{{ post.title }}</td>
                    <td><a href="/show/{{ post.id }}" class="btn btn-success">詳細</a></td>
                    <td><a href="/edit/{{ post.id }}" class="btn btn-warning">編集</a></td>
                    <td><a href="/destroy/{{ post.id }}" class="btn btn-danger">削除</a></td>
                </tr>
            </div> 
            {% endfor %}
        </table>
        <p>
            <a href="/new" class="btn btn-primary">新規</a>
        </p>
    </div>
{% endblock %}