{% extends "layout.html" %}
{% block content %}
<div class="container">
    <form action="/create" method="POST">
        <div class="form-group">
            
            <label for="title">概要</label>
            <input type="text" name="title" value="" class="form-control" placeholder="概要を入力してください">
        
        </div>

        <!-- 収入入力 -->
        <div class="form-group">
            
            <label for="income">収入</label>
            <input type="number" name="income" value="" class="form-control" placeholder="収入または支出どちらかをを入力してください">
            <!-- type="number"は半角数字のみの入力 -->
            <!-- cols 文字数、rows 行数 -->
        </div>

        <!-- 支出入力 -->
        <div class="form-group">
            
            <label for="expense">支出</label>
            <input type="number" name="expense" value="" class="form-control" placeholder="収入または支出どちらかをを入力してください">
            <!-- type="number"は半角数字のみの入力 -->
            <!-- cols 文字数、rows 行数 -->
        </div>

        <div class="form-group">
           
            <label for="content">備考</label>
            <textarea class="form-control" name="content" cols="40" rows="10" placeholder="備考を入力してください"></textarea>
        
        </div>
        
        <button type="submit" class="btn btn-primary">保存</button>
        <button type="button" class="btn btn-danger" onclick="history.back()">キャンセル</button>
    
    </form>
</div>
{% endblock %}